.sidebar {
  display: flex;
  /* position: fixed; */
  /* overflow: scroll; */
}
.workspaces {
  background-color: #5158ff;
  width: 80px;
  height: 100vh;
  padding: 0 16px;
}

.workspace {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}

.project {
  background-color: #f1f1f1;
  width: 327px;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding: 0 28px;
}
.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24.2px;
  text-align: center;

  margin: 50px 0 20px 0;
}
.user {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  position: relative;
}
.profile {
  width: 130px;
  height: 130px;
  border-radius: 70%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3361ff;
  margin: 28px;
}
.profile-img {
  width: 110px;
  height: 110px;
  border-radius: 70%;
}
.new {
  width: 30px;
  height: 30px;
  font-size: 12px;
  font-weight: 900;
  color: white;
  background-color: #3361ff;
  border-radius: 70%;
  line-height: 30px;
  position: absolute;
  right: 72px;
  bottom: 120px;
}
.user-info {
  margin: 13px 0;
}
.user-name {
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  color: #656565;
}
.user-email {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #656565;
}
.user-state {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #898989;
}
.state-img {
  margin: 0 3px;
}

.list {
  display: flex;
  margin: 12px 0;
  line-height: 21px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  color: #656565;
}
.hr {
  background-color: white;
  height: 1px;
  border: none;
  margin: 20px 0;
}
.channel-list {
  margin: 20px 0;
}
.channel-title {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #656565;
  position: relative;
}
.sidebar-icon {
  width: 20px;
  height: 21px;
  margin-right: 20px;
}
.add-sm {
  position: absolute;
  right: 0;
}
