strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

em {
  font-style: italic;
}

s {
  text-decoration: line-through;
}

.toolbar-top__container {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

#toolbar {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  border: none;

  button {
    border-radius: 4px;
    padding: 2px;
    display: flex;
    justify-content: center;
  }

  .toolbar-top__icon {
    border-radius: 2px;
    &:hover {
      background-color: #d6d6d6;
    }
    &:active {
      background-color: #afafaf;
    }
  }

  .toolbar-bottom__icon {
    &:hover {
      background-color: #434343;
    }
    &:active {
      background-color: #656565;
    }
  }
}
